# Here Environment Variables for Docker
# .env.example
# Please copy this file to .env and edit the values as needed
TIMEZONE=Europe/Madrid
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=symfony_db
MYSQL_USER=symfony_user
MYSQL_PASSWORD=symfony_pass