# Here Environment Variables for Docker
# .env.example
# Please copy this file to .env and edit the values as needed
TIMEZONE=Europe/Madrid
MYSQL_ROOT_PASSWORD=0If4w052VCyl
MYSQL_DATABASE=api_db
MYSQL_USER=admin
MYSQL_PASSWORD=9FRoTf00CVXV
